body {
    font-family: Arial, sans-serif;
    background-color: #2ecc71;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
}

.todo-container h1 {
    text-align: center;
    color: #2c3e50;
}

.input-section {
    display: flex;
    margin-bottom: 20px;
}

.input-section input {
    flex: 1;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    outline: none;
}

.input-section button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #8e44ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.input-section button:hover {
    background-color: #732d91;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.completed .text{
    text-decoration: line-through;
    color: gray;
}

.buttons button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .complete {
    background-color: #2ecc71;
    color: white;
}

.buttons .edit {
    background-color: #f1c40f;
    color: white;
}

.buttons .delete {
    background-color: #e74c3c;
    color: white;
}

.buttons .complete:hover {
    background-color: #27ae60;
}

.buttons .edit:hover {
    background-color: #d4ac0d;
}

.buttons .delete:hover {
    background-color: #c0392b;
}




/*! Modal */
.modal {
    display: none;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #bdc3c7;
    position: fixed;
    z-index: 99;
    padding: 20px 5px;
}

.modal-active {
    display: block !important;
}

.modal-todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.complete {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px 10px;
    cursor: pointer;
}

.edit {
    background-color: #f1c40f;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px 10px;
    cursor: pointer;
}

.delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px 10px;
    cursor: pointer;
}

.complete:hover {
    background-color: #27ae60;
}

.edit:hover {
    background-color: #d4ac0d;
}

.delete:hover {
    background-color: #c0392b;
}
